.card-card-652-0-0-4 {
    
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    margin: 4px;
    padding: 16px;
    position: relative;
    transition: background-color .3s ease;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1
}

.card-card-652-0-0-4:after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: 2
}

.card-disabled-608-0-0-4 {
    cursor: default
}

.card-disabled-608-0-0-4 .card-content-29d-0-0-4,.card-disabled-608-0-0-4 .card-icon-b49-0-0-4,.card-disabled-608-0-0-4 .card-subTitle-1da-0-0-4,.card-disabled-608-0-0-4 .card-title-40e-0-0-4 {
    color: var(--color_text_disabled,rgba(0,0,0,.322))
}

.card-subTitle-1da-0-0-4,.card-title-40e-0-0-4 {
    overflow: hidden;
    text-overflow: ellipsis
}

.card-subTitle-1da-0-0-4 {
    color: var(--color_text_secondary,#738295);
    margin-top: 8px
}

.card-vertical-c60-0-0-4 {
    flex-direction: column;
    min-width: 176px;
    text-align: center
}

.card-vertical-c60-0-0-4 .card-picture-d68-0-0-4 {
    display: block;
    margin: 10px auto
}

.card-vertical-c60-0-0-4 .card-content-29d-0-0-4,.card-vertical-c60-0-0-4 .card-icon-b49-0-0-4,.card-vertical-c60-0-0-4 .card-titleWrapper-396-0-0-4 {
    margin: 16px 0 0
}

.card-vertical-c60-0-0-4 .card-titleWrapper-396-0-0-4 {
    max-height: 50px
}

.card-horizontal-ccb-0-0-4 .card-control-2d6-0-0-4,.card-vertical-c60-0-0-4 .card-control-2d6-0-0-4 {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 0
}

.card-compact-bcf-0-0-4,.card-horizontal-ccb-0-0-4 {
    align-items: center;
    min-height: 145px;
    padding: 16px
}

.card-compact-bcf-0-0-4 .card-titleWrapper-396-0-0-4,.card-horizontal-ccb-0-0-4 .card-titleWrapper-396-0-0-4 {
    flex: 1;
    overflow: hidden;
    white-space: nowrap
}

.card-compact-bcf-0-0-4 .card-icon-b49-0-0-4,.card-compact-bcf-0-0-4 .card-titleWrapper-396-0-0-4,.card-horizontal-ccb-0-0-4 .card-icon-b49-0-0-4,.card-horizontal-ccb-0-0-4 .card-titleWrapper-396-0-0-4 {
    margin: 0 0 0 16px
}

.card-compact-bcf-0-0-4 .card-icon-b49-0-0-4,.card-horizontal-ccb-0-0-4 .card-icon-b49-0-0-4 {
    height: 24px;
    width: 24px
}

.card-compact-bcf-0-0-4 .card-content-29d-0-0-4,.card-horizontal-ccb-0-0-4 .card-content-29d-0-0-4 {
    margin-left: 16px
}

.card-compact-bcf-0-0-4 {
    min-height: 66px;
    padding: 10px
}

.card-compact-bcf-0-0-4 .card-control-2d6-0-0-4 {
    margin-right: 16px;
    order: -1
}

.card-compact-bcf-0-0-4 .card-control-2d6-0-0-4+.card-titleWrapper-396-0-0-4 {
    margin-left: 0
}

.card-primary-688-0-0-4 {
    background-color: var(--color_bg_control_secondary_default,#e7eef3)
}

.card-primary-688-0-0-4:hover {
    background-color: var(--color_bg_control_secondary_hover,#e0e4e9)
}

.card-primary-688-0-0-4:active {
    background-color: var(--color_bg_control_secondary_active,#d5d8dc)
}

.card-primary-688-0-0-4.card-disabled-608-0-0-4 {
    background-color: var(--color_bg_control_secondary_disabled,#fafafa)
}

.card-secondary-91c-0-0-4 {
    background-color: var(--color_bg_control_primary_default,#fff)
}

.card-secondary-91c-0-0-4:hover {
    background-color: var(--color_bg_control_primary_hover,#f6f7f9)
}

.card-secondary-91c-0-0-4:active {
    background-color: var(--color_bg_control_primary_active,#dedfe3)
}

.card-secondary-91c-0-0-4.card-disabled-608-0-0-4 {
    background-color: var(--color_bg_control_primary_disabled,#fafafa)
}

.card-add-2b3-0-0-4 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' stroke='%2300A739' stroke-dasharray='6, 10' stroke-dashoffset='12' stroke-linecap='round' stroke-width='2' rx='12' ry='12'/%3E%3C/svg%3E");
    border: 0
}

.card-active-fd7-0-0-4 {
    border-color: var(--color_icon_brand_default,#009e36)
}

.card-iconPositionLeft-c03-0-0-4 .card-picture-d68-0-0-4 {
    order: 1
}

.card-iconPositionLeft-c03-0-0-4 .card-content-29d-0-0-4 {
    order: 2
}

.card-iconPositionLeft-c03-0-0-4 .card-icon-b49-0-0-4 {
    order: 3
}

.card-iconPositionLeft-c03-0-0-4 .card-titleWrapper-396-0-0-4 {
    order: 4
}

.card-banner-f1b-0-0-4 {
    display: flex;
    position: relative;
    transition: background-color .3s ease;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1
}

.card-banner-f1b-0-0-4:after {
    content: " ";
    inset: 0;
    position: absolute;
    z-index: 2
}

.card-banner-f1b-0-0-4.card-clickable-77a-0-0-4 {
    cursor: pointer
}

.card-banner-f1b-0-0-4.card-primary-c1a-0-0-4 {
    background-color: var(--color_bg_control_secondary_default,#e7eef3)
}

.card-banner-f1b-0-0-4.card-primary-c1a-0-0-4:hover {
    background-color: var(--color_bg_control_secondary_hover,#e0e4e9)
}

.card-banner-f1b-0-0-4.card-primary-c1a-0-0-4:active {
    background-color: var(--color_bg_control_secondary_active,#d5d8dc)
}

.card-banner-f1b-0-0-4.card-secondary-ac8-0-0-4 {
    background-color: var(--color_bg_control_primary_default,#fff)
}

.card-banner-f1b-0-0-4.card-secondary-ac8-0-0-4:hover {
    background-color: var(--color_bg_control_primary_hover,#f6f7f9)
}

.card-banner-f1b-0-0-4.card-secondary-ac8-0-0-4:active {
    background-color: var(--color_bg_control_primary_active,#dedfe3)
}

.card-banner-f1b-0-0-4.card-color-theme-1-dd7-0-0-4 {
    background-color: var(--color_bg_accent_success_default,#e5f8ec)
}

.card-banner-f1b-0-0-4.card-color-theme-1-dd7-0-0-4:hover {
    background-color: var(--color_bg_accent_success_hover,#ccf1d9)
}

.card-banner-f1b-0-0-4.card-color-theme-1-dd7-0-0-4:active {
    background-color: var(--color_bg_accent_success_active,#bbedcc)
}

.card-banner-f1b-0-0-4.card-color-theme-2-43b-0-0-4 {
    background-color: var(--color_bg_accent_6_default,#fff3f8)
}

.card-banner-f1b-0-0-4.card-color-theme-2-43b-0-0-4:hover {
    background-color: var(--color_bg_accent_6_hover,#ffdfed)
}

.card-banner-f1b-0-0-4.card-color-theme-2-43b-0-0-4:active {
    background-color: var(--color_bg_accent_6_active,#ffc3dd)
}

.card-banner-f1b-0-0-4.card-color-theme-3-e2e-0-0-4 {
    background-color: var(--color_bg_accent_info_hover,#d9ecff)
}

.card-banner-f1b-0-0-4.card-color-theme-3-e2e-0-0-4:hover {
    background-color: var(--color_bg_accent_info_active,#c8dff6)
}

.card-banner-f1b-0-0-4.card-color-theme-3-e2e-0-0-4:active {
    background-color: var(--color_bg_control_secondary_active,#d5d8dc)
}

.card-banner-f1b-0-0-4.card-color-theme-4-1eb-0-0-4 {
    background-color: var(--color_bg_accent_1_default,#ffecd6)
}

.card-banner-f1b-0-0-4.card-color-theme-4-1eb-0-0-4:hover {
    background-color: var(--color_bg_accent_1_hover,#ffe0bf)
}

.card-banner-f1b-0-0-4.card-color-theme-4-1eb-0-0-4:active {
    background-color: var(--color_bg_accent_1_active,#fed2a1)
}

.card-banner-f1b-0-0-4.card-color-theme-5-288-0-0-4 {
    background-color: var(--color_bg_accent_warning_default,#fff9e4)
}

.card-banner-f1b-0-0-4.card-color-theme-5-288-0-0-4:hover {
    background-color: var(--color_bg_accent_warning_hover,#fff1c5)
}

.card-banner-f1b-0-0-4.card-color-theme-5-288-0-0-4:active {
    background-color: var(--color_bg_accent_warning_active,#ffe7a8)
}

.card-banner-f1b-0-0-4.card-medium-cfd-0-0-4 {
    border-radius: 20px;
    padding: 24px
}

.card-banner-f1b-0-0-4.card-small-277-0-0-4,.card-banner-f1b-0-0-4.card-xSmall-db8-0-0-4 {
    border-radius: 12px;
    padding: 16px
}

.card-subTitle-75a-0-0-4,.card-title-834-0-0-4 {
    margin-bottom: 8px
}

.card-closer-f2a-0-0-4,.card-icon-236-0-0-4 {
    color: var(--color_icon_secondary_default,#8593a5)
}

.card-icon-236-0-0-4 {
    margin-right: 8px
}

.card-closer-f2a-0-0-4 {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    position: relative;
    z-index: 3
}

.card-content-884-0-0-4 {
    flex: 1
}