.tabs-head-8e7-15-1-1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

.tabs-button-beb-15-1-1 {
    font: 500 14px/18px SBSans,sans-serif
}

.tabs-button-beb-15-1-1,.tabs-content-cfb-15-1-1 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    letter-spacing: -.28px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tabs-content-cfb-15-1-1 {
    font: 400 14px/18px SBSans,sans-serif
}

.tabs-tabs-d69-15-1-1 {
    max-width: 100%;
    position: relative
}

.tabs-buttons-fc1-15-1-1 {
    display: inline-flex;
    flex-wrap: nowrap
}

.tabs-fluid-e58-15-1-1>.tabs-head-8e7-15-1-1>.tabs-headInner-892-15-1-1>.tabs-buttons-fc1-15-1-1 {
    width: 100%
}

.tabs-fluid-e58-15-1-1>.tabs-head-8e7-15-1-1>.tabs-headInner-892-15-1-1>.tabs-buttons-fc1-15-1-1>.tabs-button-beb-15-1-1 {
    flex: 1 1 auto;
    justify-content: center;
    text-align: center
}

.tabs-button-beb-15-1-1 {
    align-items: center;
    -webkit-appearance: button;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    height: 56px;
    outline: none;
    padding: 0 16px;
    text-align: left;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
    white-space: nowrap
}

.tabs-button-beb-15-1-1::-moz-focus-inner {
    border: none
}

.tabs-button-beb-15-1-1:focus {
    outline: none
}

.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1 {
    border: 0;
    border-bottom: 2px solid #0000;
    color: var(--color_text_secondary,#738295)
}

.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1+.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1 {
    margin-left: 4px
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1:hover {
        border-bottom-color:#0000;
        color: var(--color_border_input_active,#262626)
    }
}

.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible {
    border-bottom-color: var(--color_border_input_focus_visible,#1175da);
    color: var(--color_text_primary,#262626)
}

.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1 {
    border-bottom-color: var(--color_border_input_active,#262626);
    color: var(--color_text_primary,#262626)
}

.tabs-primary-9de-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1 {
    border-bottom-color: #0000;
    color: var(--color_text_disabled,rgba(0,0,0,.322));
    cursor: default
}

.tabs-inverse-335-15-1-1 {
    --tabs-background-color: var(--color_bg_page,#eceef0)
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1 {
    
    border-radius: 8px;
    color: var(--color_text_secondary,#738295);
    position: relative
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:not(:first-child):before,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:not(:first-child):before {
    background: var(--color_border_input_default,#a8b4bd);
    bottom: 9px;
    content: " ";
    left: 0;
    position: absolute;
    top: 9px;
    width: 1px
}

.tabs-large-6a0-15-1-1 .tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:not(:first-child):before,.tabs-large-6a0-15-1-1 .tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:not(:first-child):before {
    bottom: 17px;
    top: 17px
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:hover,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:hover {
        color:var(--color_text_primary,#262626)
    }
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible {
    outline: var(--color_border_input_focus_visible,#1175da) solid 2px;
    outline-offset: 2px;
    position: relative;
    z-index: 2
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible+.tabs-button-beb-15-1-1:before,.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible:before,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible+.tabs-button-beb-15-1-1:before,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1:focus.focus-visible:before {
    display: none
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1 {
    background: var(--color_bg_control_primary_default,#fff);
    border-color: var(--color_bg_control_secondary_default,#e7eef3);
    color: var(--color_text_primary,#262626);
    z-index: 1
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1+.tabs-button-beb-15-1-1:before,.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1:not(:first-child):before,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1+.tabs-button-beb-15-1-1:before,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1:not(:first-child):before {
    display: none
}

.tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1 {
    color: var(--color_text_disabled,rgba(0,0,0,.322));
    cursor: default
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-alternative-975-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1:hover,.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1:hover {
        color:var(--color_text_disabled,rgba(0,0,0,.322))
    }
}

.tabs-alternative-975-15-1-1 .tabs-headInner-892-15-1-1,.tabs-inverse-335-15-1-1 .tabs-headInner-892-15-1-1 {
    margin: -4px;
    padding: 4px
}

.tabs-alternative-975-15-1-1.tabs-medium-48d-15-1-1 .tabs-button-beb-15-1-1,.tabs-inverse-335-15-1-1.tabs-medium-48d-15-1-1 .tabs-button-beb-15-1-1 {
    height: 40px;
    padding: 0 10px
}

.tabs-alternative-975-15-1-1.tabs-large-6a0-15-1-1 .tabs-button-beb-15-1-1,.tabs-inverse-335-15-1-1.tabs-large-6a0-15-1-1 .tabs-button-beb-15-1-1 {
    height: 56px;
    padding: 0 20px
}

.tabs-alternative-975-15-1-1 .tabs-buttons-fc1-15-1-1,.tabs-inverse-335-15-1-1 .tabs-buttons-fc1-15-1-1 {
    background: var(--color_bg_control_secondary_default,#e7eef3);
    border-radius: 8px
}

.tabs-inverse-335-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1 {
    background: var(--color_bg_control_primary_default,#fff);
    border-color: var(--color_component_tab_border_selected,#f0f5f8)
}

.tabs-inverse-335-15-1-1 .tabs-buttons-fc1-15-1-1 {
    background: var(--color_bg_control_secondary_onbgpage_default,#d7dfe4)
}

.tabs-head-8e7-15-1-1 {
    position: relative;
    z-index: 1
}

@media (max-width: 767px) {
    .tabs-headMobileOffset-fe8-15-1-1 {
        margin-left:-16px;
        margin-right: -16px
    }
}

.tabs-vertical-d02-15-1-1 .tabs-head-8e7-15-1-1:after,.tabs-vertical-d02-15-1-1 .tabs-head-8e7-15-1-1:before {
    display: none
}

.tabs-vertical-d02-15-1-1 .tabs-headInner-892-15-1-1 {
    border-bottom: 0;
    overflow: initial
}

.tabs-vertical-d02-15-1-1 .tabs-headInner-892-15-1-1:after {
    display: none
}

.tabs-vertical-d02-15-1-1 .tabs-buttons-fc1-15-1-1 {
    border: 0;
    display: block
}

@media (max-width: 1023px) {
    .tabs-vertical-d02-15-1-1 .tabs-buttons-fc1-15-1-1 {
        padding:0
    }
}

.tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1 {
    border: 0;
    border-left: 2px solid #0000;
    color: var(--color_text_secondary,#738295);
    display: block;
    height: 20px;
    margin: 20px 0 0;
    padding: 0 14px 0 0;
    position: relative;
    transition: .15s ease-in-out;
    white-space: normal;
    width: 100%
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1:hover {
        color:var(--color_text_primary,#262626)
    }
}

.tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1.tabs-selected-fe9-15-1-1 {
    border-left-color: var(--color_border_input_active,#262626);
    color: var(--color_text_primary,#262626);
    padding: 0 0 0 14px
}

.tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1 {
    color: var(--color_text_disabled,rgba(0,0,0,.322));
    cursor: default
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1.tabs-disabled-e2c-15-1-1:hover {
        border-color:#0000;
        color: var(--color_text_disabled,rgba(0,0,0,.322));
        padding: 0 14px 0 0
    }
}

.tabs-vertical-d02-15-1-1 .tabs-button-beb-15-1-1:first-child {
    margin: 0
}

.tabs-vertical-d02-15-1-1 .tabs-label-bd1-15-1-1 {
    padding: 0
}

.tabs-vertical-d02-15-1-1 .tabs-icon-dee-15-1-1 {
    position: absolute;
    right: 0;
    top: 2px
}

.tabs-headInner-892-15-1-1 {
    scrollbar-height: none;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none
}

.tabs-headInnerDivider-028-15-1-1:after {
    background-color: var(--color_component_divider_default,#d5d8dc);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1
}

.tabs-headInner-892-15-1-1::-webkit-scrollbar {
    background: #0000;
    display: none;
    height: 0;
    width: 0
}

.tabs-label-bd1-15-1-1 {
    display: inline-block;
    font-family: SBSans,sans-serif
}

.tabs-badge-b6b-15-1-1 {
    display: inline-flex;
    margin-left: 8px
}

.tabs-icon-dee-15-1-1 {
    color: var(--color_icon_secondary_default,#8593a5);
    display: inline-flex;
    line-height: 16px;
    margin: 0 0 0 5px
}

.tabs-content-cfb-15-1-1 {
    display: none;
    padding-top: 16px
}

.tabs-contentActive-b38-15-1-1 {
    display: block
}

.tabs-contentSub-e10-15-1-1 {
    padding: 20px 0 0 16px
}

.tabs-arrow-d5b-15-1-1 {
    align-items: center;
    background-color: var(--tabs-background-color,var(--color_bg_control_primary_default,#fff));
    bottom: 0;
    color: var(--color_icon_secondary_default,#8593a5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: .15s ease-in-out;
    width: 32px;
    z-index: 3
}

@media (max-width: 767px) {
    .tabs-arrow-d5b-15-1-1 {
        display:none
    }
}

@media (-ms-high-contrast:active),(hover: hover),all and (-ms-high-contrast:none) {
    .tabs-arrow-d5b-15-1-1:hover {
        color:var(--color_icon_secondary_hover,#738295)
    }
}

.tabs-arrow-d5b-15-1-1:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 18px
}

.tabs-arrowLeft-6a4-15-1-1 {
    left: 0
}

.tabs-arrowLeft-6a4-15-1-1:after {
    background: linear-gradient(90deg,var(--tabs-background-color,var(--color_bg_control_primary_default,#fff)) 0,#fff0 100%);
    right: -18px
}

.tabs-arrowRight-c14-15-1-1 {
    right: 0
}

.tabs-arrowRight-c14-15-1-1:after {
    background: linear-gradient(270deg,var(--tabs-background-color,var(--color_bg_control_primary_default,#fff)) 0,#fff0 100%);
    left: -18px
}

.tabs-arrowIcon-a77-15-1-1 {
    position: relative
}