
.tg-promo-xlarge-987-7-0-3 {
    font: 600 72px/92px SBSansDisplay,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.72px
}

.tg-promo-large-526-7-0-3,.tg-promo-xlarge-987-7-0-3 {
    color: var(--color_text_primary,#262626);
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-promo-large-526-7-0-3 {
    font: 600 56px/72px SBSansDisplay,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.56px
}

.tg-promo-standard-37f-7-0-3 {
    font: 600 48px/64px SBSansDisplay,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.48px
}

.tg-promo-small-8aa-7-0-3,.tg-promo-standard-37f-7-0-3 {
    color: var(--color_text_primary,#262626);
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-promo-small-8aa-7-0-3 {
    font: 600 40px/52px SBSansDisplay,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.4px
}

.tg-heading-large-cbf-7-0-3 {
    font: 600 32px/40px SBSansDisplay,sans-serif
}

.tg-heading-large-cbf-7-0-3,.tg-heading-standard-a69-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-heading-standard-a69-7-0-3 {
    font: 600 24px/32px SBSansDisplay,sans-serif
}

.tg-heading-small-dc0-7-0-3 {
    font: 600 20px/28px SBSansDisplay,sans-serif
}

.tg-heading-small-dc0-7-0-3,.tg-heading-xsmall-c5f-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-heading-xsmall-c5f-7-0-3 {
    font: 600 18px/24px SBSansDisplay,sans-serif
}

.tg-label-large-semibold-948-7-0-3 {
    font: 600 16px/20px SBSans,sans-serif
}

.tg-label-large-medium-3d8-7-0-3,.tg-label-large-semibold-948-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    letter-spacing: -.32px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-large-medium-3d8-7-0-3 {
    font: 500 16px/20px SBSans,sans-serif
}

.tg-label-large-regular-9f9-7-0-3 {
    color: var(--color_text_primary,#262626);
    font: 400 16px/20px SBSans,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.32px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-standard-semibold-ecc-7-0-3 {
    font: 600 14px/18px SBSans,sans-serif
}

.tg-label-standard-medium-14b-7-0-3,.tg-label-standard-semibold-ecc-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    letter-spacing: -.28px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-standard-medium-14b-7-0-3 {
    font: 500 14px/18px SBSans,sans-serif
}

.tg-label-standard-regular-4b7-7-0-3 {
    color: var(--color_text_primary,#262626);
    font: 400 14px/18px SBSans,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.28px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-small-semibold-0ee-7-0-3 {
    font: 600 12px/16px SBSans,sans-serif
}

.tg-label-small-medium-6fd-7-0-3,.tg-label-small-semibold-0ee-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    letter-spacing: -.12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-small-medium-6fd-7-0-3 {
    font: 500 12px/16px SBSans,sans-serif
}

.tg-label-small-regular-0de-7-0-3 {
    font: 400 12px/16px SBSans,sans-serif;
    letter-spacing: normal;
    letter-spacing: -.12px
}

.tg-body-xlarge-semibold-ff3-7-0-3,.tg-label-small-regular-0de-7-0-3 {
    color: var(--color_text_primary,#262626);
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-body-xlarge-semibold-ff3-7-0-3 {
    font: 600 18px/28px SBSans,sans-serif;
    letter-spacing: normal
}

.tg-body-xlarge-medium-d24-7-0-3 {
    font: 500 18px/28px SBSans,sans-serif
}

.tg-body-xlarge-medium-d24-7-0-3,.tg-body-xlarge-regular-fbd-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-body-xlarge-regular-fbd-7-0-3 {
    font: 400 18px/28px SBSans,sans-serif
}

.tg-body-large-semibold-cb5-7-0-3 {
    font: 600 16px/24px SBSans,sans-serif
}

.tg-body-large-medium-f16-7-0-3,.tg-body-large-semibold-cb5-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-body-large-medium-f16-7-0-3 {
    font: 500 16px/24px SBSans,sans-serif
}

.tg-body-large-regular-2ce-7-0-3 {
    font: 400 16px/24px SBSans,sans-serif
}

.tg-body-large-regular-2ce-7-0-3,.tg-body-standard-semibold-33e-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-body-standard-semibold-33e-7-0-3 {
    font: 600 14px/20px SBSans,sans-serif
}

.tg-body-standard-medium-4ad-7-0-3 {
    font: 500 14px/20px SBSans,sans-serif
}

.tg-body-standard-medium-4ad-7-0-3,.tg-body-standard-regular-bdb-7-0-3 {
    color: var(--color_text_primary,#262626);
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-body-standard-regular-bdb-7-0-3 {
    font: 400 14px/20px SBSans,sans-serif
}

.tg-dark-47f-7-0-3 {
    color: var(--color_text_inverse_primary,#fff)
}

.tg-promo-p1--light-51a-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-promo-p1--dark-dd9-7-0-3,.tg-promo-p1--light-51a-7-0-3 {
    font: 700 72px/88px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-promo-p1--dark-dd9-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-promo-p2--light-861-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-promo-p2--dark-57d-7-0-3,.tg-promo-p2--light-861-7-0-3 {
    font: 700 56px/72px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-promo-p2--dark-57d-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-promo-p3--light-8aa-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-promo-p3--dark-4aa-7-0-3,.tg-promo-p3--light-8aa-7-0-3 {
    font: 600 48px/60px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-promo-p3--dark-4aa-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-headline-h1--light-75e-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-headline-h1--dark-759-7-0-3,.tg-headline-h1--light-75e-7-0-3 {
    font: 600 32px/40px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-headline-h1--dark-759-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-headline-h2--light-553-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-headline-h2--dark-352-7-0-3,.tg-headline-h2--light-553-7-0-3 {
    font: 600 24px/32px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-headline-h2--dark-352-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-headline-h3--light-a86-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-headline-h3--dark-e2d-7-0-3,.tg-headline-h3--light-a86-7-0-3 {
    font: 600 20px/28px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-headline-h3--dark-e2d-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-headline-h4--light-806-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-headline-h4--dark-d31-7-0-3,.tg-headline-h4--light-806-7-0-3 {
    font: 600 18px/24px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-headline-h4--dark-d31-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-headline-h5--light-437-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-headline-h5--dark-d66-7-0-3,.tg-headline-h5--light-437-7-0-3 {
    font: 600 16px/20px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-headline-h5--dark-d66-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-input-regular--light-79c-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-input-regular--dark-049-7-0-3,.tg-input-regular--light-79c-7-0-3 {
    font: 400 16px/20px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-input-regular--dark-049-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-input-medium--light-5bb-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-input-medium--dark-260-7-0-3,.tg-input-medium--light-5bb-7-0-3 {
    font: 500 16px/20px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-input-medium--dark-260-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-text-regular--light-5b2-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-text-regular--dark-6e1-7-0-3,.tg-text-regular--light-5b2-7-0-3 {
    font: 400 14px/20px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-text-regular--dark-6e1-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-text-medium--light-54c-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-text-medium--dark-19c-7-0-3,.tg-text-medium--light-54c-7-0-3 {
    font: 500 14px/20px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-text-medium--dark-19c-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-label-regular--light-083-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-label-regular--dark-bcf-7-0-3,.tg-label-regular--light-083-7-0-3 {
    font: 400 12px/16px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-regular--dark-bcf-7-0-3 {
    color: var(--dc-color-white,#fff)
}

.tg-label-medium--light-018-7-0-3 {
    color: var(--dc-color-afro,#242629)
}

.tg-label-medium--dark-645-7-0-3,.tg-label-medium--light-018-7-0-3 {
    font: 500 12px/16px SBSans,sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
}

.tg-label-medium--dark-645-7-0-3 {
    color: var(--dc-color-white,#fff)
}