:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Animation Durations */
  --duration-instant: 100ms; /* Мгновенные микровзаимодействия (переключатели) */
  --duration-quick: 160ms; /* Ховер, быстрые реакции интерфейса */
  --duration-action: 200ms; /* Стандартные анимации */
  --duration-regular: 250ms; /* Стандартные анимации */
  --duration-complex: 300ms; /* Сложные переходы */

  /* Ease-out (плавное замедление к концу) */
  --ease-out-quad: cubic-bezier(.25, .46, .45, .94); /* Лёгкое замедление в конце движения. Хорошо подходит для фоновых элементов и мелких движений. */
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1); /* Универсальная и плавная кривая, отлично подходит для базовых анимаций перемещения элементов (ползунки, кнопки, меню). */
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1); /* Выразительное замедление, идеально подходит для кнопок, чекбоксов, активных действий и реакций на нажатия. */
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1); /* Ярко выраженное плавное замедление. Подходит для появления крупных элементов (панели, модальные окна, баннеры). */
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1); /* Экспрессивное замедление с резким началом и очень мягким завершением. Идеально для привлечения внимания (ошибки, уведомления). */
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1); /* Сильный контраст скоростей с выраженным замедлением. Подходит для интерактивных действий, таких как перетаскивания или жесты. */

  /* Ease-in-out (плавное ускорение в начале и замедление в конце) */
  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955); /* Универсальная кривая для небольших микровзаимодействий (ховеры, фокус, мелкие переходы состояний). */
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1); /* Средняя по выразительности, идеально подходит для плавных и аккуратных анимаций смены состояний элементов (табы, чекбоксы). */
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1); /* Выразительная и очень плавная кривая. Отлично работает для сложных переходов состояний (аккордеоны, BottomSheets, раскрытия списков). */
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1); /* Максимально плавная и подчёркнутая анимация. Подходит для акцентированных изменений интерфейса, где важно подчеркнуть начало и конец действия. */
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86); /* Динамичная и энергичная кривая с заметным ускорением и замедлением. Подходит для подчёркнутых и динамичных UI-переходов (иконки, выпадающие списки, состояния элементов). */
}

a {
  font-weight: 500;
  color: #009e36;
  text-decoration: inherit;
}
a:hover {
  color: #00b73e;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #009e36;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #00c442;
  }
  button {
    background-color: #f9f9f9;
  }
}
